In [1]:
# importing libraries 
import pandas as pd
from cassandra.cluster import Cluster
from IPython.core.display import display

In [2]:
cluster = Cluster(["localhost"])
session = cluster.connect()
scipi_keyspace = "scipi"
session.set_keyspace(scipi_keyspace)

In [3]:
def pandas_factory(colnames, rows):
    return pd.DataFrame(rows, columns=colnames)

session.row_factory = pandas_factory
session.default_fetch_size = None

In [4]:
year_dist = session.execute("SELECT year,count FROM yrwisedist;", timeout=None)
year_dist_df = year_dist._current_rows

In [5]:
year_dist_df.set_index("year", inplace=True)
year_dist_df.sort_values(by=["year"], ascending=False, inplace=True)
year_dist_df_20 = year_dist_df.head(20).copy()

year_dist_total = year_dist_df_20["count"].sum()
year_dist_df_20["percentage"] = round((year_dist_df_20["count"] / year_dist_total) * 100, 2)
year_dist_df_20.columns = ["articles published", "percentage (%) of " + str(year_dist_total)]
display(year_dist_df_20)

      articles published  percentage (%) of 341440
year
2018                  19                      0.01
2017                8179                      2.40
2016               23168                      6.79
2015               25364                      7.43
2014               26411                      7.74
2013               25725                      7.53
2012               24421                      7.15
2011               23873                      6.99
2010               23438                      6.86
2009               21713                      6.36
2008               19896                      5.83
2007               17576                      5.15
2006               16529                      4.84
2005               15537                      4.55
2004               14401                      4.22
2003               13119                      3.84
2002               11907                      3.49
2001               10861                      3.18
2000               10182                      2.98
1999                9121                      2.67